*, *:after, *:before {
	box-sizing: border-box;
}

body {
	font-family: $primaryFont, sans-serif;
	font-size: 1.1rem;
}

.container {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;

	@include lg-up {
		max-width: 1000px;
		margin: 0 auto;
	}

	@include xl-up {
		max-width: 1340px;
	}
	
}

.section__header {
	font-weight: 700;
	font-size: 2rem;
	margin: 0;

	@include md-up {
		font-size: 2.5rem;
	}

	@include lg-up {
		font-size: 3rem;
	}

	@include xl-up {
		font-size: 4rem;
	}
}

.section__sub-header {
	font-weight: 700;
	font-size: 1.05rem;

	@include md-up {
		font-size: 1.2rem;
	}

	@include lg-up {
		font-size: 1.5rem;
	}
}

.section__header + .section__sub-header {
	margin-top: 10px;
}

.overlay {

	background: rgba($Black, .3);
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 35px;

	@include md-up { padding: 70px; }

	&--center {
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	&--left {
		align-items: center;
		justify-content: flex-start;
	}

	&--right {
		align-items: center;
		justify-content: flex-end;
	}

}
