*, *:after, *:before {
	box-sizing: border-box;
}

body {
	font-family: $primaryFont, sans-serif;
}

.container {
	width: 100%;
	box-sizing: border-box;
	padding: 0 20px;

	@include lg-up {
		max-width: 1000px;
		margin: 0 auto;
	}

	@include xl-up {
		max-width: 1200px;
	}
	
}

.global-main > .section:first-child {
	padding-top: 100px;

	@include md-up {
		padding-top: 120px;
	}

	@include lg-up {
		padding-top: 140px;
	}

	@include xl-up {
		padding-top: 160px;
	}
}

.section__header {}

.section__sub-header {}

.overlay {

	background: rgba($Black, .3);
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 35px;

	@include md-up { padding: 70px; }

	&--center {
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	&--left {
		align-items: center;
		justify-content: flex-start;
	}

	&--right {
		align-items: center;
		justify-content: flex-end;
	}

}
