.theme {
	
	&--primary { 
		background-color: $primary;
		color: $White;

		//.overlay { color: $White; }

		a:not(.cta) {
			color: $White;
		}

	}

	&--secondary {
		background-color: $secondary;
		color: $primary;

		a:not(.cta) {
			color: $primary;
		}
	}

	&--alternative { 
		background-color: $alternative;
		color: $primary; 

		//.overlay { color: $White; }

		a:not(.cta) {
			color: $primary;
		}
		
	}

}
