.theme {
	
	&--primary { 
		background-color: $primary;
		color: $White;

		//.overlay { color: $White; }

		.section__sub-header {
			color: $highlightBlue;
		}

	}

	&--secondary {
		background-color: $secondary;
		color: $primary;
	}

	&--alternative { 
		background-color: $alternative;
		color: $primary; 

		//.overlay { color: $White; }
		
	}

}
