.cta {

	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background: $highlightRed;
	color: $White;
	border-radius: 25px;
	width: 100%;
	transition: .3s;

	&:hover {
		transform: scale(1.05);
	}

	@include sm-up {
		width: auto;
	}

	+ .cta {
		margin-top: 10px;

		@include sm-up {
			width: auto; 
			margin: 0 0 0 20px;
		}
	}

	&--sm {	
		@include font-size(10, 14);
		
		padding: 8px 20px;
	
	}

	&--md {
		@include font-size(12, 16);
		
		padding: 12px 30px; 
	
	}
	
	&--lg { 
		@include font-size(14, 18);
		
		padding: 15px 40px;
		border-radius: 40px;
		
	}

	&--compare { 
		@include font-size(14, 18);
		
		background: $Crimson;
		color: $White;
		padding: 15px 40px;
		
	}

	&--white {
		background-color: $White;
		color: $primary;
	}

	&--dark-blue {
		background-color: $primary;
		color: $White;
	}

	&--light-blue {
		background-color: $highlightBlue;
		color: $White;
	}

	&--ghost {
		background-color: transparent;
		border: 1px solid $highlightRed;
		color: $highlightRed;

		&.cta--white {
			border-color: $White;
			color: $White;
		}

		&.cta--dark-blue {
			border-color: $primary;
			color: $primary;
		}

		&.cta--light-blue {
			border-color: $highlightBlue;
			color: $highlightBlue;
		}
	}

}
