.cta {

	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background: $highlightRed;
	color: $White;
	border-radius: 25px;
	width: 100%;

	@include sm-up {
		width: auto; 
	}

	&--sm {	
		@include font-size(10, 14);
		
		padding: 5px 10px;
	
	}

	&--md {
		@include font-size(12, 16);
		
		padding: 10px 20px; 
	
	}
	
	&--lg { 
		@include font-size(14, 18);
		
		padding: 20px 40px;
		
	}

	&--compare { 
		@include font-size(14, 18);
		
		background: $Crimson;
		color: $White;
		padding: 20px 40px;
		
	}

	&--white {
		background-color: $White;
		color: $primary;
	}

	&--dark-blue {
		background-color: $primary;
		color: $White;
	}

	&--ghost {
		background-color: transparent;
		border: 1px solid $highlightRed;
		color: $highlightRed;

		&.cta--white {
			border-color: $White;
			color: $White;
		}

		&.cta--dark-blue {
			border-color: $primary;
			color: $primary;
		}
	}

}
