// --------------------------------------------------------------------------------------------------
// Header
// --------------------------------------------------------------------------------------------------

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: .3s padding;
    z-index: 1000;

    @include md-up {
        padding: 35px;
    }

    @include lg-up {
        padding: 35px 50px;
    }

    &--sticky {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: $primary;
    }

    &__contact-cta {
        display: none;
        margin-left: auto;

        @include md-up {
            display: block;
        }
    }
}

.mob-nav-toggle {
    margin-left: auto;

    .icon {
        color: #fff;
        font-size: 2rem;
    }

    @include md-up {
        display: none;
    }
}

.site-logo__img {
    width: 30px;
    display: block;
}


// DESKTOP NAV
.desktop-nav {
    display: none;

    @include md-up {
        display: block;
        margin-left: 30px;
    }

    @include lg-up {
        margin-left: 60px;
    }

    > ul > li {
        display: inline-block;
        position: relative;

        &:hover > a {
            color: $highlightRed;
        }

        &.menu-item--active > a {
            color: $highlightRed;
            text-decoration: underline;
        }
    }

    // Hide Home and Contact links from desktop nav
    > ul > li:first-child,
    > ul > li:last-child {
        display: none;
    }

    > ul > li > a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 8px 12px;
        font-weight: 300;
        font-size: 1rem;

        @include lg-up {
            padding: 12px 16px;
        }
    }

    .sub-menu {
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: lighten($primary, 5%);
        box-shadow: 0 5px 10px rgba(#000, .1);

        a {
            padding: 10px 20px;
            color: #fff;
            text-decoration: none;
            display: block;
            border-bottom: 1px solid rgba(#fff, .07);
            white-space: nowrap;
            transition: .3s;
            font-size: 1rem;

            &:hover {
                background-color: lighten($primary, 3%);
            }
        }

        li.menu-item--active a {
            color: $highlightRed;
        }

        li:last-child a {
            border-bottom: none;
        }
    }
}

.desktop-nav > ul > li > a:hover + .sub-menu,
.desktop-nav .sub-menu:hover {
    opacity: 1;
    visibility: visible;
}