// --------------------------------------------------------------------------------------------------
// Hero
// This CSS is designed to adjust the first section on the page to be the "hero" section, whether
// it's the 'Copy & Image' module, or the 'Full Bleed Banner' module etc.
// It applies the padding-top required to accommodate the fixed header, and is given a 100vh height
// on mobile
// --------------------------------------------------------------------------------------------------

.global-main > .section--1 {
	padding-top: 60px;

	> .container {
        height: calc(100vh - 60px);
        
        @include md-up {
            height: auto;
        }
	}

    // To accommodate copy & image on mobile
	.grid--2 {
		height: 100%;

		> .block:first-child {
            height: 45%;
            
            @include md-up {
                height: auto;
            }
		}

		> .block:last-child {
            height: 55%;
            
            @include md-up {
                height: auto;
            }
		}
    }

    .section__header {
        text-transform: uppercase;

        @include xl-up {
            font-size: 4rem;
        }
    }

    .section__sub-header {
        text-transform: uppercase;
    
        @include md-down {
            font-size: 1.05rem;
        }
    }

    img {
        max-height: 100%;
    }

	@include md-up {
        padding-top: 100px;
        padding-bottom: 40px;
		min-height: auto;
	}

	@include lg-up {
		padding-top: 120px;
	}
}