// --------------------------------------------------------------------------------------------------
// Media Blocks
// e.g. uses: Job Vacancies, In The Press
// --------------------------------------------------------------------------------------------------

.section--scrollable {
    width: 100%;
    overflow: hidden;
    
    .section__header {
        margin-top: 20px;
    }
}

.media-blocks-wrap--scrollable {
    margin-top: 30px;
    padding: 20px 0 20px 20px;

    @include md-up {
        @include flex-wrap(nowrap);
        margin-top: 50px;
    }
}

.media-block {
    box-shadow: 3px 5px 20px rgba($primary,.15);
    padding: 25px;
    max-width: 400px;
    @include flex(none);
    margin-right: 20px;

    @include md-up {
        margin: 0 15px;
        padding: 35px;
    }

    &__logo {
        max-width: 70%;
        margin-bottom: 10px;
    }

    &__title {
        font-size: 2rem;
        margin: 0;
    }

    &__meta {
        color: $highlightBlue;
        font-weight: 700;
        margin: 10px 0 20px;
    }

    &__desc {
        margin-bottom: 30px;
        font-size: 1.1rem;
        line-height: 1.4;
    }
}