// --------------------------------------------------------------------------------------------------
// Page Builder - Copy Blocks
// --------------------------------------------------------------------------------------------------

.section--copy-blocks {

    .section__header + .grid {
        margin-top: 20px;

        @include md-up {
            margin-top: 40px;
        }
    }
}

// For when the copy blocks need to be stacked on top of each other on mobile
.copy-blocks--mob-stacked {

    .copy-block {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }

        @include md-up {
            margin-bottom: 0;
        }
    }
}

// For when the copy blocks need to be positioned side-by-side on mobile and swipable
@include md-down {
    .copy-blocks--mob-side-by-side {

        .container {
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 0;
        }
    }

    .grid--mob-side-by-side {
        @include flex-wrap(nowrap);
        overflow-x: scroll;
        padding: 20px;

        .block {
            @include flex(none);
            width: 85%;
            max-width: 350px;
            padding: 25px;
            margin-right: 20px;
            background-color: #fff;
            box-shadow: 0 0 20px rgba(0,0,0,.15);
        }
    }
}

.copy-block {
    @include flex-direction(column);
    transition: .3s;
    padding: 15px;
    
    @include md-up {
        padding: 25px;
        max-width: 400px;

        &:not(.no-hover):hover {
            box-shadow: 0 0 20px rgba(0,0,0,.15);
        }
    }

    @include lg-up {
        padding: 40px;
    }

    &__img-wrap {
        width: 100%;
        height: 130px;
        padding-bottom: 30px;

        @include sm-up {
            height: 200px;
        }

        @include xl-up {
            padding-bottom: 40px;
        }
    }

    img {
        padding: 0 15px;
        filter: drop-shadow(2px 7px 5px rgba(0,0,0,.1));
        width: 100%;
        max-height: 100%;

        @include xl-up {
            padding: 0 25px;
        }
    }

    &__title {
        margin: 0 0 15px;
        color: $highlightRed;
        font-size: 1.7rem;
        line-height: 1.2;
    }

    p {
        margin: 0 0 30px;
        font-size: 1.15rem;
        line-height: 1.3;
    }

    p:last-child {
        margin-bottom: 0;
    }

    .cta {
        margin-top: auto;
        min-width: 150px;
    }
}

.copy-block--hwd {
    @include md-up {
        position: relative;
        z-index: 1;

        &:not(:first-child):before,
        &:not(:last-child):after {
            content: "";
            position: absolute;
            top: 90px;
            left: 4px;
            width: 50%;
            height: 0;
            border-top: 4px dotted #fff;
            z-index: -1;
        }
        &:not(:last-child):after {
            left: auto;
            right: 0;
        }
    }

    @include lg-up {
        &:not(:first-child):before,
        &:not(:last-child):after {
            top: 100px;
        }
    }
}

.copy-block__img-wrap--hwd {
    border-radius: 50%;
    background-color: #fff;
    width: 130px;
    justify-content: center;
    height: 130px;
    padding: 0;
    margin-bottom: 25px;

    @include md-up {
        margin-bottom: 45px;
    }

    img {
        max-width: 140%;
        max-height: none;
        width: auto;
    }
}

.copy-block__title--hwd {
    color: #fff;
    font-size: 2rem;
}