// --------------------------------------------------------------------------------------------------
// Page Builder - Copy & Image
// --------------------------------------------------------------------------------------------------

.section--copy-image {
    text-align: center;

    @include md-up {
        text-align: left;
    }
}

.section__header--copy-image {
    font-weight: 900;
}

.section__copy--copy-image {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;

    @include md-up {
        margin: 0;
    }

    @include lg-up {
        margin-top: 30px;
    }
}